# Database Settings
POSTGRES_USER="orbit"
POSTGRES_PASSWORD="orbit"
POSTGRES_DB="orbit"
PGDATA="/var/lib/postgresql/data"

# Redis Settings
REDIS_HOST="orbit-redis"
REDIS_PORT="6379"

# RabbitMQ Settings
RABBITMQ_HOST="orbit-mq"
RABBITMQ_PORT="5672"
RABBITMQ_USER="orbit"
RABBITMQ_PASSWORD="orbit"
RABBITMQ_VHOST="orbit"

# Maximum file upload limit
FILE_SIZE_LIMIT=5242880

# API key rate limit
API_KEY_RATE_LIMIT="60/minute"